---

---

<h1>Jhon Alexander Moreno Rios</h1>
<p>Me destaco en los lenguajes de Java usando estructuras de datos e interfaces graficas y en base de datos usando MySQL, tengo conocimiento en JavaScript usando frameworks como React y Astro, y tambien me gusta mucho la maquetacion WEB con HTML5 y usando CSS3 para estilizar, como tambien usando librerias como Tailwind CSS</p>

<a href="https://github.com/AlexRios30" target="_blank"><button>GIT HUB</button></a>
<button>SIGN UP</button>

<style>
    h1 {
        margin: 43px;
        font-size: 4rem;
        color: #ffffff;
    }

    p {
        margin: 43px;
        color: #ffffff;
        font-size: 1.5rem;
    }

    button {
        text-align: center;
        margin: 45px;
        width: 150px;
        height: 60px;
        color: #ffffff;
        background-color: #d22d2d;
        box-shadow: 0 0 5px;
        font-size: 1.3rem;
        border: solid 1px #ffffff;
        border-radius: 12px;
    }

    button:hover {
        background-color: #ff0000;
        box-shadow: 0 0 10px;
        border-radius: 25px;
    }
</style>
    